nvim/plugin/packer_compiled.lua
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
background
dconf/
dleyna-renderer-service.conf
dotfiles/
enchant/
evolution/
gnome-control-center/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
ibus/
menus/
mimeapps.list
nautilus/
pulse/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
